In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("ds_salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,50,US,L

In [6]:
inputs = df.drop('salary',axis='columns')

In [7]:
target = df['salary']

In [8]:
from sklearn.preprocessing import LabelEncoder
work = LabelEncoder()
experiencelevel = LabelEncoder()
employmenttype = LabelEncoder()
jobtitle = LabelEncoder()
remoteratio = LabelEncoder()
companyloc = LabelEncoder()
companysize = LabelEncoder()

In [9]:
inputs['work'] = work.fit_transform(inputs['work_year'])
inputs['experiencelevel'] = experiencelevel.fit_transform(inputs['experience_level'])
inputs['employmenttype'] = employmenttype.fit_transform(inputs['employment_type'])
inputs['jobtitle'] = jobtitle.fit_transform(inputs['job_title'])
inputs['remoteratio'] = remoteratio.fit_transform(inputs['remote_ratio'])
inputs['companyloc'] = companyloc.fit_transform(inputs['company_location'])
inputs['companysize'] = companysize.fit_transform(inputs['company_size'])

In [10]:
inputs

,work_year,experience_level,employment_type,job_title,remote_ratio,company_location,company_size,work,experiencelevel,employmenttype,jobtitle,remoteratio,companyloc,companysize
0,2020,MI,FT,Data Scientist,0,DE,L,0,2,2,22,0,12,0
1,2020,SE,FT,Machine Learning Scientist,0,JP,S,0,3,2,41,0,29,2
2,2020,SE,FT,Big Data Engineer,50,GB,M,0,3,2,7,1,18,1
3,2020,MI,FT,Product Data Analyst,0,HN,S,0,2,2,47,0,20,2
4,2020,SE,FT,Machine Learning Engineer,50,US,L,0,3,2,38,1,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,100,US,M,2,3,2,17,2,48,1
603,2022,SE,FT,Data Engineer,100,US,M,2,3,2,17,2,48,1
604,2022,SE,FT,Data Analyst,0,US,M,2,3,2,12,0,48,1
605,2022,SE,FT,Data Analyst,100,US,M,2,3,2,12,2,48,1
606,2022,MI,FT,AI Scientist,100,US,L,2,2,2,1,2,48,0

In [11]:
inputs_n = inputs.drop(['work_year','experience_level','employment_type','job_title','remote_ratio','company_location','company_size'],axis='columns')

In [12]:
inputs_n

,work,experiencelevel,employmenttype,jobtitle,remoteratio,companyloc,companysize
0,0,2,2,22,0,12,0
1,0,3,2,41,0,29,2
2,0,3,2,7,1,18,1
3,0,2,2,47,0,20,2
4,0,3,2,38,1,48,0
...,...,...,...,...,...,...,...
602,2,3,2,17,2,48,1
603,2,3,2,17,2,48,1
604,2,3,2,12,0,48,1
605,2,3,2,12,2,48,1
606,2,2,2,1,2,48,0

In [13]:
target

0       70000
1      260000
2       85000
3       20000
4      150000
        ...
602    154000
603    126000
604    129000
605    150000
606    200000
Name: salary, Length: 607, dtype: int64

In [14]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [16]:
model.score(inputs_n,target)

0.6326194398682042